

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins';
}
.navv{
  background: transparent;
  background: rgba(0, 0, 0, 0.2);
}

video{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover ;
  object-fit: cover;
  z-index: -4;
}

.sigup{
  padding: 160px 160px;
  color:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 6mm;
  z-index: 1000;
  padding-bottom: 0;
}

@media screen and (max-width:1250px) {
  .sigup{
    padding: 100px 20px;
    font-size: 4mm;
  }
  .box{
    padding: 0px;
    margin: 0px;
  }
}

.sigin{
  padding: 200px 240px;
  color:rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: 6mm;
  z-index: 1000;
  padding-bottom: 0;
}
@media screen and (max-width:400px) {
  .sigin{
    padding: 100px 30px;
    font-size: 4mm;
  }
}

td{
  font-size: 6mm;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
  background-size: cover;
  object-fit: contain;
  z-index: -2;
}

.boody{
  height: 100%;
  box-sizing: border-box;
}
.main{
  position: relative;
  margin: 0;

  min-height:100vh;
  display: flex;
  flex-direction: column;
}
.footer--pin{
  bottom: 0;
  margin-top: auto;
  color: rgb(255, 255, 255);
  padding: 1em;
  justify-content: center;
  align-content: center;
  padding-bottom: 0;
  background: rgba(0, 0, 0,0.4);
}
ul{
  list-style: none;
}
li{
  flex-direction: column;
  color: rgb(255, 255, 255);
}
li:hover{
  color: rgb(255, 255, 255);
}
.icon-area{
  justify-content: center;
  align-items: center;
}
.out-logo{
  text-align: right;
  justify-content: right;
  align-items: flex-end;
}

@media screen and (max-width: 1400px) {
  .footer--pin {
    background: rgba(0, 0, 0,0.7);
    font-size: 4mm;
  }
  .foot-align{
    flex-direction: column;
  }
  .icon{
    top:0;
    font-size: 1.6rem;

  }

  .navv{
    background: rgba(0, 0, 0,0.7);
  }
  .out-logo{
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  p{
    font-size: 4mm;
    bottom: 0;
  }
}


.typetable{
  position: fixed;
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 100px;

}
b{
  color: rgb(255, 255, 255);
  background: radial-gradient(rgba(65, 62, 62, 0.2),rgba(0, 0, 0, 0.2))
}

*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* CSS for grid in packages page*/

.grid{
  padding: 120px 150px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.boxx{
  margin:20px;
  border-color: black;
}
.boxx:hover{
  margin-bottom: 30px;
  box-shadow: 1px 1px 25px 10px rgba(96, 96, 96, 0.4);
}

.grid > div{
  flex-basis: calc(33.33% - 40px);
}
@media screen and (max-width:920px) {
  .grid{
    padding :100px 10px;
    margin: 1px 1px;
  }
  .grid > div{
    flex-basis: calc(50% - 40px);
  }
  .boxx{
    margin: 10px;
  }
}
@media screen and (max-width:550px) {
  .grid{
    padding :100px 10px;
    padding-bottom: 15px;
    margin: 1px 1px;
  }
  .grid > div{
    flex-basis: calc(100% - 40px);
  }
  .boxx{
    margin: 10px;
  }
}

/*CSS for each city*/

.layout{
  padding: 110px 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}

@media screen and (max-width: 900px) {
  .layout{
    padding: 110px 10px;
    font-size: 4mm;
    padding-bottom: 35px;
  }
}

.head{
  background-color: rgba(96, 96, 96, 0.4);
}
.PhoneInput{
  width: 300px;
  height: 50px;

}
.PhoneInputInput{
  height: 50px;
  border-radius: 2mm;
}
#err{
  color: red;
}